* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}


.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}


.head {
    background-image: url(img/head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;


}

.head {
    &_title {

        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 217px;
        padding-bottom: 32px;
        padding-left: 88px;
        max-width: 788px;

    }

    &_text {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-left: 88px;
        padding-bottom: 44px;
        max-width: 481px;
    }

    &_button {
        width: 234.06px;
        height: 48.6px;
        border-radius: 30px;
        background-color: rgb(156, 3, 50);


        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
    }
}

.wrap_button {
    padding-left: 88px;
}


.info {
    height: 556px;
    max-width: 1440px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-direction: row;

}

.container {

    &_game1 {
        position: relative;
    }

    &_game2 {
        position: relative;
    }

    &_game3 {
        position: relative;
    }
}



.bottom {

    &_text1 {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        bottom: 32px;
        left: 32px;

    }

    &_text2 {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        bottom: 32px;
        left: 32px;
    }

    &_text3 {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        bottom: 32px;
        left: 32px;
    }


}