* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}


.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}


.head {
    background-image: url(img/head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;


}

.head {
    &_title {

        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 217px;
        padding-bottom: 32px;
        padding-left: 88px;
        max-width: 788px;

    }

    &_text {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-left: 88px;
        padding-bottom: 44px;
        max-width: 481px;
    }

    &_button {
        width: 234.06px;
        height: 48.6px;
        border-radius: 30px;
        background-color: rgb(156, 3, 50);


        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
    }
}

.wrap_button {
    padding-left: 88px;
}


.info {
    height: 556px;
    max-width: 1440px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-direction: row;

}

.container {

    &_game1 {
        position: relative;
    }

    &_game2 {
        position: relative;
    }

    &_game3 {
        position: relative;
    }
}



.bottom {

    &_text1 {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        bottom: 32px;
        left: 32px;

    }

    &_text2 {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        bottom: 32px;
        left: 32px;
    }

    &_text3 {
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        bottom: 32px;
        left: 32px;
    }


}



.head_button:hover {
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.container_game1:hover {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.container_game2:hover {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.container_game3:hover {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}





@import "mobile";